@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap);

body {
  margin: 0;
  height: 100%;
  background-color: black;
	font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

.root {
  position: relative;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

.title {
  position: absolute;
  top: 10px;
  letter-spacing: 0.5em;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 1.4em;
  font-weight: 100;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 50vw;
  transform: translateX( -50% );
  padding: 15px 20px;
  background-color: rgb( 255, 255, 255, 0.25);
  backdrop-filter: blur( 5px ) brightness( 75% );
  border-radius: 20px;
  color: white;
  opacity: 0.5;
  transition: opacity 0.5s ease-out;
  cursor: pointer;
  text-align: center;
}

.controlsInner {
  text-align: left;
}

.stopStart {
  display: inline-block;
  background-color: #008000;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 20px auto 0;
}

@media (max-width: 768px) {
  .controls {
    width: 75%;
  }
}
.controls:hover {
  opacity: 1;
  transition: opacity 0.25s;
}

.controls label {
    padding-left: 10px;
}

.controls input {
  transform: translateY( 5px );
}

.source {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.5;
  transition: opacity 0.5s ease-out;
}

.source:hover {
  opacity: 1;
  transition: opacity 0.25s;
}
.source a {
  text-decoration: none;
  color: white;
}
